{
  "consumerKey": "QvtAN8QO6tmOhGwAGkwGhF3cU",
  "consumerSecret": "LOh6JcJYAkFoTJgJqZHLUMN9O0mrFWBsoClNCzrWqE2SsCzVkl",
  "accessToken": "0000000000-xe5XV7UWwnKvCLzNVH9kxL3hEVCLuMOxwHnLfqs",
  "accessTokenSecret": "VMJz1z0GIJrkce1Z2Kx4dmbqTitYgwYuUA3IgFsj41cIY"
}